[Unit]
Description=Hichat, ACIT4640
After=network.target

[Service]
Environment=NODE_PORT=3000
WorkingDirectory=/app/HiChat
Type=simple
User=hichat
ExecStart=/usr/bin/node /app/HiChat/server.js
Restart=always

[Install]
WantedBy=multi-user.target
